*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.container{
    width: 1220px;
    height: 1465px;
    margin: auto;
    background-color: #191919;
}
.header{
    width: 1200px;
    height: 140px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #1a1a1a;
    display: inline-block;
}
.header img{
    width: 275px;
    margin: 25px 0 0 20px;
    display: inline-block;
}
.header h3{
    margin-left: 680px;
    margin-top: 40px;
    color: #cfcfce;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    font-weight: bold;
}
.navbar{
    width: 1180px;
    height: 30px;
    margin-left: 10px;
    padding: 10px;
    background-color: #484848;
    text-decoration: none;
}
.navbar li{
    margin-left: 25px;
    margin-top: 5px;
    display: inline-block;
}
.navbar li a{
    padding: 5px 15px 5px 0;
    text-decoration: none;
    font-weight: bold;
    border-right: 2px solid #393939;
    color:#a3a3a3;
    display: inline;
}
.navbar li span a{
    color: #dbdbdb;
}
.banner{
    width: 1200px;
    height: 630px;
    margin-left: 10px;
    vertical-align: top;
    background-color:#1a1a1a;
}
.banner img{
    width: 1200px;
    margin: 0px;
    border-bottom:5px solid#484848;
}
.content{
    margin: 15px 0 10px 22px;
    width: 270px;
    height: 160px;
    display: inline-block;
    vertical-align: top;
}
.content img{
    margin: 20px 0 0 8px;
    width: 58px;
    height: 48px;
    border: none;
}
.content h2{
    margin: 30px 0 0 10px;
    color: #e17d2b;
    font-family: serif;
    font-weight: normal;
    font-size: 23px;
    vertical-align: top;
    display: inline-block;
}
.content p{
    margin: -10px 0 0 82px;
    width: 190px;
    height: 60px;
    color: #cecece;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
}
.buynow{
    width: 1200px;
    height: 160px;
    padding-bottom: 10px;
    background-color: black;
    vertical-align: top;
}
.buynow h1{
    margin: 50px 0 0 45px;
    color:#ececec;
    font-weight: normal;
    font-size: 28px;
    display: inline-block;
}
.buynow p{
    width: 800px;
    height: 50px;
    margin: 15px 0 0 45px;
    color: #ececec;
    display: inline-block;
}
.buynow a{
    margin-left: 150px;
    padding: 12px 34px 12px 34px;
    text-decoration: none;
    color: #fbf8fd;
    font-size: 20px;
    background-color: #f08a3f;
    border-radius: 5px;
    display: inline;
    vertical-align: top;  
}
.portfolio{
    width: 1200px;
    height: 455px;
}
.projects h2{
    margin: 40px 0 30px 30px;
    color: #f2f2f1;
    font-weight: bold;
    font-family: serif;
    display: inline-block;
    vertical-align: top;
}
.projects a{
    margin-left: 925px;
    margin-top: 45px;
    color: #e17d2b;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
}
.features{
    width: 270px;
    height: 320px;
    margin-left: 21px;
    display: inline-block;
}
.features img{
    width: 260px;
    height: 160px;
    border: 5px solid #363636;
}
.features h3{
    margin: 15px 0 15px 0;
    color: #e17d2b;
    font-weight: normal;
    font-family: serif;
    font-size: 20px;
}
.features p{
    padding-bottom: 5px;
    color: #cdcac5;
    font-size: 14px;
    line-height: 20px;
    vertical-align: top;
}
#top_of_page a{
    margin: 20px 0 0 1100px;
    color: #797867;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
}